

.logo{
   height: 10vh;
    width: 10vh;
    border-radius: 50%;

}
/*.coverimage{
    height: 1200px;
}*/

/* Container needed to position the button. Adjust the width as needed */
.cover {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
img {
  width: 100%;
  height: auto;
  position: absolute;
}

/* Style the button and place it in the middle of the container/image */
.cover {
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
  font-size: 70px;
  font-family: sans-serif;
}
/*}
.text-title {
  position: absolute;
  
  color: white;
  padding: 40px;
}
*/